<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.univcollie.zjl.DAO.TeacherDAO">

    <select id="getMaxID" resultType="java.lang.Integer">
        SELECT count(ID) FROM teacher
    </select>

    <select id="getTeacherList" resultType="com.univcollie.zjl.entity.Teacher">
        SELECT * FROM teacher
    </select>

    <delete id="delectTeacher" parameterType="java.lang.Integer">
        DELETE  FROM teacher WHERE ID=#{id}
    </delete>

    <insert id="insertTeacher" parameterType="HashMap">
        INSERT INTO teacher VALUES(null,#{teachername},#{teacherpassword},#{teachertel},#{teacherclass1},#{teacherclass2})
    </insert>

    <select id="teacherLogin" parameterType="HashMap" resultType="com.univcollie.zjl.entity.Teacher">
        SELECT * FROM teacher WHERE teachertel=#{telnumber} AND teacherpassword=#{password}
    </select>

</mapper>


