<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.univcollie.zjl.DAO.UserDAO">

    <!--学生安全员列表-->
    <select id="getManagerStudentList" resultType="com.univcollie.zjl.entity.User">
         SELECT * FROM user WHERE identity>0
    </select>
    <!--学生列表-->
    <select id="getStudentList" resultType="com.univcollie.zjl.entity.User">
         SELECT * FROM user WHERE identity=0
    </select>

    <select id="getUser" parameterType="HashMap" resultType="com.univcollie.zjl.entity.User">
        SELECT * FROM user WHERE telnumber=#{telnumber} AND `password`=#{password}
    </select>
    <select id="getUserInfor" parameterType="java.lang.Integer" resultType="com.univcollie.zjl.entity.Userinfor">
        SELECT * FROM `userinfo` where ID=#{ID}
    </select>
    <select id="getMaxID" resultType="java.lang.Integer">
        SELECT count(ID) FROM `user`
    </select>
    <select id="checkupKey" parameterType="HashMap" resultType="java.lang.Integer">
        SELECT id FROM user WHERE telnumber=#{telnumber} or studentid= #{studentid}
    </select>

    <insert id="insertUser" parameterType="HashMap" useGeneratedKeys="true" keyProperty="ID">
        INSERT INTO user(username,password,telnumber,studentid,age,sex,identity,classname,safetyindex) VALUES(#{username},#{password},#{telnumber},#{studentid},#{age},#{sex},#{identity},#{classname},#{safetyindex})
    </insert>
    <insert id="insertUser_punch" keyProperty="ID">
        INSERT INTO punchlog(success,fail) VALUES(0,0)
    </insert>
    <insert id="insertUser_dis" keyProperty="ID">
        INSERT INTO dis(illog) VALUES("")
    </insert>

    <update id="updata_allergylog" parameterType="HashMap" keyProperty="ID">
        UPDATE dis SET allergylog=#{allergylog} WHERE ID = #{ID}
    </update>
    <update id="updata_medicationlog" parameterType="HashMap" keyProperty="ID">
        UPDATE dis SET medicationlog=#{medicationlog} WHERE ID = #{ID}
    </update>
    <update id="updata_illog" parameterType="HashMap" keyProperty="ID">
        UPDATE dis SET illog=#{illog} WHERE ID = #{ID}
    </update>

    <!--取消安全员权限-->
    <update id="setStudent" parameterType="java.lang.Integer" keyProperty="ID">
       UPDATE `user` SET identity=0 WHERE ID=#{id}
    </update>
    <!--设置安全员权限-->
    <update id="setstudentmanager" parameterType="java.lang.Integer" keyProperty="ID">
       UPDATE `user` SET identity=1 WHERE ID=#{id}
    </update>
    <!--打卡语句集合-->
    <update id="updataPunchSuccess" parameterType="java.lang.Integer" keyProperty="java.lang.Integer">
        UPDATE punchlog SET success=success+1,today=1 WHERE ID=#{ID}
    </update>
    <select id="selectTodayPunch" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT today FROM punchlog WHERE ID=#{ID}
    </select>
</mapper>


